* {
    min-height: 0;
    border-radius: 0;
    font-family: JetBrains Mono;
}

window#waybar {
    background-color: rgba(45,45,45,0);
}

#workspaces {
    padding: 1px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#workspaces button:hover {
    text-shadow: inherit;
    background: inherit;
}

#workspaces button {
    margin: 1px;
    padding: 1px;
    color: #d3d0c8;
    border: 2px solid #2d2d2d;
}

#workspaces button.active {
    color: #2d2d2d;
    border: 2px solid #2d2d2d;
    background-color: #d3d0c8;
}

#workspaces button.visible {
    border: 2px solid #d3d0c8;
}

#workspaces button.urgent {
    border: 2px solid #f2777a;
}

#window {
    font-size: 14px;
    color: #d3d0c8;
    margin-top: -2px;
    padding: 0px 5px;
    margin-bottom: 2px;
    background-color: #2d2d2d;
}

#custom-volume {
    color: #d3d0c8;
    padding: 0px 5px;
    margin-right: 6px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#clock {
    color: #d3d0c8;
    padding: 0px 5px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#tray {
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}
